$icomoon-font-path: "fonts" !default;

$icon-american_express: "\41";
$icon-bitcoin: "\42";
$icon-cirrus: "\43";
$icon-discover: "\44";
$icon-fancy: "\46";
$icon-interac: "\49";
$icon-jcb: "\4a";
$icon-master_card: "\4d";
$icon-paypal: "\50";
$icon-stripe: "\53";
$icon-twitter: "\54";
$icon-visa: "\56";
$icon-diners_club: "\63";
$icon-dankort: "\64";
$icon-facebook: "\66";
$icon-maestro: "\6d";
$icon-pinterest: "\70";
$icon-rss: "\72";
$icon-search: "\73";
$icon-tumblr: "\74";
$icon-vimeo: "\76";
$icon-youtube: "\79";
$icon-cart: "\e600";
$icon-hamburger: "\e601";
$icon-grid-view: "\e603";
$icon-list-view: "\e604";
$icon-plus: "\e605";
$icon-minus: "\e602";
$icon-close-btn: "\e606";
$icon-select-arrow-down: "\e607";
$icon-amazon-payments: "\e800";
$icon-google-plus: "\e901";
$icon-instagram: "\e902";
$icon-dogecoin: "\e904";
$icon-dwolla: "\e905";
$icon-forbrugsforeningen: "\e906";
$icon-litecoin: "\e908";
$icon-right-arrow: "\e900";
$icon-left-arrow: "\e903";
$icon-logo-with-tagline: "\e907";
$icon-logo-alone: "\e909";

